<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>{{book.title}}</h1>
        <h3>ID:{{book.id}}</h3>
        <h5>Description: {{book.desc}}</h5>
        <h5>Authors: </h5>
        <!--for loop -->
        {% for author in authors %}
        <ul>
            <li>{{author.first_name}} {{author.last_name}}</li>
        </ul>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <select name="SelectAuthor" >
                {% for author in allAuthors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="AddAuthor">
        </form>

    </div>

</body>

</html>