{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block content %}
    <header>
        <div class="container">
            {% comment %}  {% endcomment %}
            <div class="profile">
                <div class="profile-image">
                    <img src="{{ userProfileImg }}" alt="">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">{{ username }}</h1>
                    <button class="btn profile-edit-btn">Edit Profile</button>
                    <button class="btn profile-settings-btn" aria-label="profile settings">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li>
                            <span class="profile-stat-count">{{ postsCount }}</span> posts
                        </li>
                        <li>
                            {% comment %} TODO implement followCount {% endcomment %}
                            <span class="profile-stat-count">{{ followCount|default:"0" }}</span> followers
                        </li>
                        <li>
							{% comment %} TODO implement followCount {% endcomment %}
                            <span class="profile-stat-count">{{ following|default:"0" }}</span> following
                        </li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p class="profile-real-name">{{ fullName }}</p>
                    <p>
                        {% comment %} TODO if there is no userBio give default message {% endcomment %}
                        {{ userBio|default:'ما لم تبدأه اليوم لن يكتمل في الغد  📷✈️🏕️' }}
                    </p>
                </div>
            </div>
            <!-- End of profile section -->
        </div>
        <!-- End of container -->
    </header>
    <main>
        <div class="container">
            <div class="gallery">
                {% for img in userImages %}
                    <div class="gallery-item" tabindex="0">
                        <img src="{{ img.url }}" class="gallery-image" alt="{{ img.title }}">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes">
                                    <span class="visually-hidden">Likes:</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-heart-fill"
                                         viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>  
                                    <i class="fas fa-heart" aria-hidden="true"></i> 56
                                </li>
                                <li class="gallery-item-comments">
                                    <span class="visually-hidden">Comments:</span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-chat-fill"
                                         viewBox="0 0 16 16">
                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                    </svg>
                                    <i class="fas fa-comment" aria-hidden="true"></i> 2
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% comment %} FIXME loader currently works on timeout/ redo it for actual post generation  {% endcomment %}
            <div id="loader" class="loader">
                {% block js %}
                    {% load static %}
                    <script src="{% static 'js/profilescript.js' %}"></script>
                {% endblock js %}
            </div>
            <!-- End of container -->
        </div>
    </main>
{% endblock content %}
